[manifest]
version = "0.3.1"
dump_lua = false
priority = 1

[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.ability.set == \"Joker\" and not self.debuff then"
position = "after"
payload = '''
  if self.ability.name == "Parrot" then
    local compat_jokers = {}
    for i = 1, #G.jokers.cards do
      if G.jokers.cards[i] ~= self and G.jokers.cards[i].config.center.blueprint_compat then
        compat_jokers[#compat_jokers+1] = G.jokers.cards[i]
      end
    end
    local other_joker = #compat_jokers > 0 and pseudorandom_element(compat_jokers, pseudoseed('parrot')) or nil
    if other_joker then
      context.blueprint = (context.blueprint and (context.blueprint + 1)) or 1
      context.blueprint_card = context.blueprint_card or self
      if context.blueprint > #G.jokers.cards + 1 then return end
      local other_joker_ret = other_joker:calculate_joker(context)
      if other_joker_ret then
        other_joker_ret.card = context.blueprint_card or self
        other_joker_ret.colour = G.C.GREEN
        return other_joker_ret
      end
    end
  end
'''
match_indent = true
overwrite = false
